extends layout

block content
  h1= `国別配達情報　【${country}】　（`
    a(href="/mypage/delivered_country") 全国を見る
    | ）
  i ※対象外：DHL発送から3日以内、EMS発送から5日以内、Air/SAL発送から21日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 発送期間
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
    tbody
      each row in analyze
        tr
          td= row.label
          if row.dhl_count.all > 0
            td
              b= `${row.dhl_count.done}件 `
              i= `（${Math.round(10000 * row.dhl_count.done / row.dhl_count.all) / 100}%）`
              i= `（平均：${Math.round(10 * row.dhl_count.days / row.dhl_count.done) / 10}日）`
          else
            td
          if row.ems_count.all > 0
            td
              b= `${row.ems_count.done}件 `
              i= `（${Math.round(10000 * row.ems_count.done / row.ems_count.all) / 100}%）`
              i= `（平均：${Math.round(10 * row.ems_count.days / row.ems_count.done) / 10}日）`
          else
            td
          if row.other_count.all > 0
            td
              b= `${row.other_count.done}件 `
              i= `（${Math.round(10000 * row.other_count.done / row.other_count.all) / 100}%）`
              i= `（平均：${Math.round(10 * row.other_count.days / row.other_count.done) / 10}日）`
          else
            td
  svg#chart
  #chart_data.hidden= JSON.stringify(analyze[0].delivery_times)
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/javascripts/d3_controller.js")
