extends layout

block content
  h3 Unknown country names
  table.table.table-dark.table-striped
    thead
      tr
        th(span="col") Name
        th(span="col")
    tbody
      each country in unknown_countries
        tr
          td= country
          td
            select(name="clist")
              option
              each le in countrylist_base
                option(value=le.country_code)= `${le.country_name} (${le.country_code})`
            button.btn.btn-primary(onclick=`AddToCountryList(this,'${country}')`) Add
  script(src="/javascripts/status.js")
