extends layout

block content
  .row
    .col
      h1 Tracker dashboard
      p By: Lennart Granstrom
  .row.mb-3
    .col
      h3 追跡状況
      div= `全レコード：${total}`
      div= `～平均配送時間～`
      div= `- DHL：${dhl_time}日`
      div= `- EMS：${ems_time}日`
      div= `- Air/SAL：${other_time}日`
    .col
      h3 トラッキング状況
      div 最新更新：
        span#tracked_records
      div JPスクレイピング：
        span#jp_s_records
      div DHLスクレイピング：
        span#dhl_s_records
      div USPS API：
        span#usps_a_records
      div DHL API：
        span#dhl_a_records
  .row
    .col
      p
        button.btn.btn-primary.mr-3(type="button", data-toggle="collapse", data-target="#add_collapse", aria-expanded="false", aria-controls="add_collapse", title="Show add record input fields.") レコード追加
        a.btn.btn-success.mr-3(href="/mypage/track", title="Start tracking process.\n*It is possible to close browser after started.") トラッキング開始
        a.btn.btn-warning.mr-3(href="/mypage/csv", title="Download CSV file containing all records with tracking data.") 保存　★修正中
        a.btn.btn-danger(href="/mypage/clear", title="Delete records delivered over 2 weeks ago,\nand download CSV file containing deleted data.") 削除・バックアップ　★修正中
      #add_collapse.collapse
        .card.card-body.bg-dark
          label(for="date") 日付*
          input#date.form-control(name="date", type="date", required)
          label(for="tracking") 追跡番号*
          textarea#tracking.form-control(name="tracking", cols="30", rows="10", required)
          button.btn.btn-success.mt-3(onclick="api_post()", title="Save the records to the database.") データベースに保存
  .row
    .col
      h3 遅延状況
      table.table.table-dark.table-striped
        thead
          tr
            th(scope="col") DHL　（3日以上）
            th(scope="col") EMS　（5日以上）
            th(scope="col") Air/SAL　（21日以上）
            th(scope="col") 合計
        tbody
          tr
            td= undelivered.all.dhl_records
            td= undelivered.all.ems_records
            td= undelivered.all.other_records
            td= undelivered.all.number_of_records
      table.table.table-dark.table-striped.mt-2
        thead
          tr
            th(scope="col") 状況
            th(scope="col") レコード件数
        tbody
          each row in undelivered.status_counter
            tr
              td= row.status
              td= row.count
  script(src="/javascripts/update.js")
  script(src="/javascripts/api.js")