extends layout

block content
  h1 到着レコード
  i= `※最近の1週間のみの到着データ`
  br
  i ※対象外：DHL発送から3日以内、EMS発送から5日以内、Air/SAL発送から21日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
        th(scope="col") 合計
    tbody
      tr
        td= `${analyze.dhl_count}件`
        td= `${analyze.ems_count}件`
        td= `${analyze.other_count}件`
        td= `${rows.length}件`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 追跡番号
        th(scope="col") 国名（
          a(href="/mypage/delivered_country") すべての国
          | ）
        th(scope="col") 発送日
        th(scope="col") 配達日
        th(scope="col") 到着時間
    tbody
      each row in rows
        - const sdate = new Date(row.shippeddate)
        - const edate = new Date(row.delivereddate)
        - const timediff = Math.round((row.delivereddate - row.shippeddate) / 86400000)
        tr
          td
            a(href=`/mypage/details/${row.tracking}`)= row.tracking
          td
            a(href=`/mypage/country/${row.country}`)= row.country
          td= `${sdate.getFullYear()}-${sdate.getMonth()+1}-${sdate.getDate()}`
          td= `${row.delivereddate == 1 ? "unknown" : edate.getFullYear()}-${row.delivereddate == 1 ? "" : edate.getMonth()+1}-${row.delivereddate == 1 ? "" : edate.getDate()}`
          td= `${row.delivereddate == 1 ? "unknown" : timediff}日`