extends layout

block content
  h1 配達済レコード
  p= `※最近の1週間のみ、${rows.length}件`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
        th(scope="col") 合計
    tbody
      tr
        td= analyze.dhl_count
        td= analyze.ems_count
        td= analyze.other_count
        td= `${rows.length}件`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 追跡番号
        th(scope="col") 国名（
          a(href="/mypage/delivered_country") 全国
          | ）
        th(scope="col") 発送日
        th(scope="col") 配達日
        th(scope="col") 発送時間
    tbody
      each row in rows
        - const sdate = new Date(row.shippeddate)
        - const edate = new Date(row.delivereddate)
        - const timediff = Math.round((row.delivereddate - row.shippeddate) / 86400000)
        tr
          td
            a(href=`/mypage/details/${row.tracking}`)= row.tracking
          td
            a(href=`/mypage/country/${row.country}`)= row.country
          td= `${sdate.getFullYear()}-${sdate.getMonth()+1}-${sdate.getDate()}`
          td= `${edate.getFullYear()}-${edate.getMonth()+1}-${edate.getDate()}`
          td= `${timediff}日`