extends layout

block content
  h1 Delivered
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") Tracking#
        th(scope="col") Country
        th(scope="col") Shipped date
        th(scope="col") Delivered date
        th(scope="col") Delivery time
    tbody
      each row in rows
        - const start = row.shippeddate.split('-')
        - const end = row.delivereddate.split('-')
        - const sdate = new Date(parseInt(start[0]), parseInt(start[1]), parseInt(start[2]))
        - const edate = new Date(parseInt(end[0]), parseInt(end[1]), parseInt(end[2]))
        - const timediff = Math.round((edate.getTime() - sdate.getTime()) / 86400000)
        tr
          td
            a(href=`/mypage/details/${row.tracking}`)= row.tracking
          td= row.country
          td= row.shippeddate
          td= row.delivereddate
          td= `${timediff} days`