extends layout

block content
  h1 Delivered
  a(href="/mypage/delivered_country") Show country data
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") Tracking#
        th(scope="col") Country
        th(scope="col") Shipped date
        th(scope="col") Delivered date
        th(scope="col") Delivery time
    tbody
      each row in rows
        - const sdate = new Date(row.shippeddate)
        - const edate = new Date(row.delivereddate)
        - const timediff = Math.round((row.delivereddate - row.shippeddate) / 86400000)
        tr
          td
            a(href=`/mypage/details/${row.tracking}`)= row.tracking
          td= row.country
          td= `${sdate.getFullYear()}-${sdate.getMonth()+1}-${sdate.getDate()}`
          td= `${edate.getFullYear()}-${edate.getMonth()+1}-${edate.getDate()}`
          td= `${timediff} days`