extends layout

block content
  a.btn.btn-link(href=back_link) 戻る
  h2 状況
  table.table.table-dark.table-striped
    tbody
      tr
        th(scope='row') tracking
        td= db_data.tracking
        th(scope='row') carrier
        td= db_data.carrier
      tr
        th(scope='row') country
        td= db_data.country
        th(scope='row') tracking_country
        td= db_data.tracking_country
      tr
        th(scope='row') addeddate
        td= new Date(db_data.addeddate)
        th(scope='row') lastchecked
        td= new Date(db_data.lastchecked)
      tr
        th(scope='row') status
        td= db_data.status
        th(scope='row') shippeddate
        td= new Date(db_data.shippeddate)
      tr
        th(scope='row') delivereddate
        td= new Date(db_data.delivereddate)
        th(scope='row') delivered
        td= db_data.delivered
  h2 追跡履歴
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 日付
        th(scope="col") 状況
        th(scope="col") 場所
    tbody
      each update in tracking
        - const tdate = new Date(update.timestamp)
        tr
          td= `${tdate.getFullYear()}-${tdate.getMonth()+1}-${tdate.getDate()}`
          td= update.description
          td= (typeof update.location) == "string" ? update.location : update.location.address.addressLocality