extends layout

block content
  a.btn.btn-link(href=back_link) 戻る
  h2 状況
  form(action="/mypage/update", method="post")
    table.table.table-dark.table-striped
      tbody
        tr
          th(scope='row') tracking
          td
            input.form-control(type="text", name="tracking", value=db_data.tracking, readonly)
          th(scope='row') carrier
          td
            input.form-control(type="text", name="carrier", value=db_data.carrier)
        tr
          th(scope='row') country
          td
            input.form-control(type="text", name="country", value=db_data.country)
          th(scope='row') tracking_country
          td
            input.form-control(type="text", name="tracking_country", value=db_data.tracking_country, readonly)
        tr
          th(scope='row') addeddate
          td
            - let d = new Date(db_data.addeddate)
            - let dstr = `${d.getFullYear()}-${d.getMonth() > 8 ? d.getMonth() + 1 : '0' + (d.getMonth() + 1)}-${d.getDate() > 9 ? d.getDate() : '0' + d.getDate()}`
            input.form-control(type="date", name="addeddate", value=dstr, readonly)
          th(scope='row') lastchecked
          td
            - d = new Date(db_data.lastchecked)
            - dstr = `${d.getFullYear()}-${d.getMonth() > 8 ? d.getMonth() + 1 : '0' + (d.getMonth() + 1)}-${d.getDate() > 9 ? d.getDate() : '0' + d.getDate()}`
            input.form-control(type="date", name="lastchecked", value=dstr, readonly)
        tr
          th(scope='row') status
          td
            input.form-control(type="text", name="status", value=db_data.status)
          th(scope='row') shippeddate
          td
            - d = new Date(db_data.shippeddate)
            - dstr = `${d.getFullYear()}-${d.getMonth() > 8 ? d.getMonth() + 1 : '0' + (d.getMonth() + 1)}-${d.getDate() > 9 ? d.getDate() : '0' + d.getDate()}`
            input.form-control(type="date", name="shippeddate", value=dstr)
        tr
          th(scope='row') delivereddate
          td
            - d = new Date(db_data.delivereddate)
            - dstr = `${d.getFullYear()}-${d.getMonth() > 8 ? d.getMonth() + 1 : '0' + (d.getMonth() + 1)}-${d.getDate() > 9 ? d.getDate() : '0' + d.getDate()}`
            input.form-control(type="date", name="delivereddate", value=dstr)
          th(scope='row') done
          td
            select.form-control(name="delivered")
              if db_data.delivered
                option(value="0") false
                option(value="1", selected="selected") true
              else
                option(value="0", selected="selected") false
                option(value="1") true
        tr
          td(colspan="4")
            button.btn.btn-success(type="submit") Update
  h2 追跡履歴
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 日付
        th(scope="col") 状況
        th(scope="col") 場所
    tbody
      each update in tracking
        - const tdate = new Date(update.timestamp)
        tr
          td= `${tdate.getFullYear()}-${tdate.getMonth()+1}-${tdate.getDate()}`
          td= update.description
          td= (typeof update.location) == "string" ? update.location : update.location.address.addressLocality