extends layout

block content
  h1= `Tracking for shipment: ${id}`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") Timestamp
        th(scope="col") Status
    tbody
      each update in tracking
        - const tdate = new Date(update.timestamp)
        tr
          td= `${tdate.getFullYear()}-${tdate.getMonth()+1}-${tdate.getDate()}`
          td= update.description