extends layout

block content
  h1= `${id}の追跡情報`
  a.btn.btn-link(href=back_link) 戻る
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 日付
        th(scope="col") 状況
        th(scope="col") 場所
    tbody
      each update in tracking
        - const tdate = new Date(update.timestamp)
        tr
          td= `${tdate.getFullYear()}-${tdate.getMonth()+1}-${tdate.getDate()}`
          td= update.description
          td= (typeof update.location) == "string" ? update.location : update.location.address.addressLocality