extends layout

block content
  h1= `国別未着情報　【${country}】　（`
    a(href="/mypage/undelivered_country") すべての国
    | ）
  i ※対象外：DHL発送から3日以内、EMS発送から7日以内、Air/SAL発送から7日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 発送期間
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
    tbody
      tr
        td(colspan="4", style="background-color:black;")
      each val in [1, 2, 3, 4]
        tr
          td= analyze[val].label
          if analyze[val].dhl_count.all > 0
            td
              b= `${analyze[val].dhl_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].dhl_count.notdone / analyze[val].dhl_count.all) / 100}%）`
          else
            td
          if analyze[val].ems_count.all > 0
            td
              b= `${analyze[val].ems_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].ems_count.notdone / analyze[val].ems_count.all) / 100}%）`
          else
            td
          if analyze[val].other_count.all > 0
            td
              b= `${analyze[val].other_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].other_count.notdone / analyze[val].other_count.all) / 100}%）`
          else
            td
      tr
        td(colspan="4", style="background-color:black;")
      each val in [5, 6, 7]
        tr
          td= analyze[val].label
          if analyze[val].dhl_count.all > 0
            td
              b= `${analyze[val].dhl_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].dhl_count.notdone / analyze[val].dhl_count.all) / 100}%）`
          else
            td
          if analyze[val].ems_count.all > 0
            td
              b= `${analyze[val].ems_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].ems_count.notdone / analyze[val].ems_count.all) / 100}%）`
          else
            td
          if analyze[val].other_count.all > 0
            td
              b= `${analyze[val].other_count.notdone}件 `
              i= `（${Math.round(10000 * analyze[val].other_count.notdone / analyze[val].other_count.all) / 100}%）`
          else
            td
      tr
        td(colspan="4", style="background-color:black;")
      tr
        td= analyze[0].label
        if analyze[0].dhl_count.all > 0
          td
            b= `${analyze[0].dhl_count.notdone}件 `
            i= `（${Math.round(10000 * analyze[0].dhl_count.notdone / analyze[0].dhl_count.all) / 100}%）`
        else
          td
        if analyze[0].ems_count.all > 0
          td
            b= `${analyze[0].ems_count.notdone}件 `
            i= `（${Math.round(10000 * analyze[0].ems_count.notdone / analyze[0].ems_count.all) / 100}%）`
        else
          td
        if analyze[0].other_count.all > 0
          td
            b= `${analyze[0].other_count.notdone}件 `
            i= `（${Math.round(10000 * analyze[0].other_count.notdone / analyze[0].other_count.all) / 100}%）`
        else
          td
  svg#chart
    rect(x="20", width="12", height="12", style="fill:orange;")
    text(x="37", y="12", fill="white") DHL
    rect(x="80", width="12", height="12", style="fill:green;")
    text(x="97", y="12", fill="white") EMS
    rect(x="140", width="12", height="12", style="fill:steelblue;")
    text(x="157", y="12", fill="white") Air/SAL
  #chart_data.hidden= JSON.stringify(analyze[0].current_shipping_times)
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/javascripts/d3_controller.js")
