extends layout

block content
  h1= `国別未着情報　【${country}】　（`
    a(href="/mypage/undelivered_country") 全国を見る
    | ）
  i ※対象外：DHL発送から3日以内、EMS発送から5日以内、Air/SAL発送から21日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 期間
        th(scope="col") DHL配送
        th(scope="col") EMS配送
        th(scope="col") Air/SAL配送
    tbody
      each row in analyze
        tr
          td= row.label
          if row.dhl_count.all > 0
            td
              b= `${row.dhl_count.notdone}件 `
              i= `（${Math.round(10000 * row.dhl_count.notdone / row.dhl_count.all) / 100}%）`
          else
            td
          if row.ems_count.all > 0
            td
              b= `${row.ems_count.notdone}件 `
              i= `（${Math.round(10000 * row.ems_count.notdone / row.ems_count.all) / 100}%）`
          else
            td
          if row.other_count.all > 0
            td
              b= `${row.other_count.notdone}件 `
              i= `（${Math.round(10000 * row.other_count.notdone / row.other_count.all) / 100}%）`
          else
            td
  svg#chart
  #chart_data.hidden= JSON.stringify(analyze[0].current_shipping_times)
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/javascripts/d3_controller.js")
