extends layout

block content
  h1 配送中レコード
  .card.bg-dark.mt-3.mb-3
    h5.card-header 検索
    .card-body
      form(action="/mypage/undelivered", method="get")
        .form-check.form-check-inline
          input#carrier_dhl.form-check-input(type="radio", name="carrier", value="dhl")
          label.form-check-label(for="carrier_dhl") DHL
        .form-check.form-check-inline
          input#carrier_ems.form-check-input(type="radio", name="carrier", value="ems")
          label.form-check-label(for="carrier_ems") EMS
        .form-check.form-check-inline
          input#carrier_other.form-check-input(type="radio", name="carrier", value="other")
          label.form-check-label(for="carrier_other") SAL/Air
        .form-check.form-check-inline
          input#carrier_all.form-check-input(type="radio", name="carrier", value="all", checked="checked")
          label.form-check-label(for="carrier_all") 全発送方法
        .form-row.mt-2
          .form-group.col-md-5
            .input-group
              input#start.form-control(type="date", name="start", required)
              .input-group-append
                .input-group-text から
          .form-group.col-md-5
            .input-group
              input#end.form-control(type="date", name="end", required)
              .input-group-append
                .input-group-text まで
          .form-group.col-md-2
            button.btn.btn-primary(type="submit", style="width:100%;") 検索
  if filter.carrier != undefined
    - const tmp = { dhl: 'DHLのみ', ems: 'EMSのみ', other: 'Air/SALのみ', all: '全発送方法'}
    p= `${tmp[filter.carrier]} (${new Date(parseInt(filter.start))}　～　${new Date(parseInt(filter.end))})`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
        th(scope="col") 合計
    tbody
      tr
        td= `${analyze.dhl_count}件`
        td= `${analyze.ems_count}件`
        td= `${analyze.other_count}件`
        td= `${rows.length}件`
  i ※下記対象外：DHL発送から3日以内、EMS発送から7日以内、Air/SAL発送から7日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col")
          if d_link == undefined
            | 追跡番号
          else
            - let query_str = ''
            each query_term in d_link.query_terms
              - query_str += `&${query_term.key}=${query_term.value}`
            a.download(href=`/api/csv?columns=${d_link.columns}${query_str}`) Download
        th(scope="col") 国名（
          a(href="/mypage/undelivered_country") すべての国
          | ）
        th(scope="col") 最新状況
        th(scope="col") 発送日から
    tbody
      - const edate = Date.now()
      each row in rows
        - const timediff = Math.round((edate - row.shippeddate) / 86400000)
        tr
          td
            if row.country != 'UNKNOWN'
              a(href=`/mypage/details/${row.tracking}`)= row.tracking
            else
              i= row.tracking
          td
            a(href=`/mypage/ucountry/${row.country}`)= row.country
          td
            a(href=`/mypage/undelivered?status=${row.status}`)= row.status.length > 30 ? row.status.slice(0, 30) + "..." : row.status
          td= `${timediff}日`
