extends layout

block content
  h1 配送中レコード
  if filter.carrier != undefined
    - const tmp = { dhl: 'DHLのみ', ems: 'EMSのみ', other: 'Air/SALのみ', all: '全体'}
    p= `${tmp[filter.carrier]} (${new Date(parseInt(filter.start))}　～　${new Date(parseInt(filter.end))})`
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
        th(scope="col") 合計
    tbody
      tr
        td= `${analyze.dhl_count}件`
        td= `${analyze.ems_count}件`
        td= `${analyze.other_count}件`
        td= `${rows.length}件`
  i ※下記対象外：DHL発送から3日以内、EMS発送から7日以内、Air/SAL発送から7日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 追跡番号
        th(scope="col") 国名（
          a(href="/mypage/undelivered_country") すべての国
          | ）
        th(scope="col") 最新状況
        th(scope="col") 発送日から
    tbody
      - const edate = Date.now()
      each row in rows
        if row.country != 'UNKNOWN'
          - const timediff = Math.round((edate - row.shippeddate) / 86400000)
          tr
            td
              a(href=`/mypage/details/${row.tracking}`)= row.tracking
            td
              a(href=`/mypage/ucountry/${row.country}`)= row.country
            td= row.status.length > 30 ? row.status.slice(0, 30) + "..." : row.status
            td= `${timediff}日`
