extends layout

block content
  h1 配送中の現在の件数
  i ※対象外：DHL発送から3日以内、EMS発送から7日以内、Air/SAL発送から7日以内
  table.table.table-dark.table-striped
    thead
      tr
        th(scope="col") 国名
        th(scope="col") DHL
        th(scope="col") EMS
        th(scope="col") Air/SAL
    tbody
      each country in analyze.countries
        tr
          td
            a(href=`/mypage/ucountry/${country.country}`)= country.country
          if country.dhl_count > 0
            td
              b= `${country.dhl_count}件 `
              i= `（${Math.round(10000 * country.dhl_count / analyze.overall.all_dhl_count) / 100}%）`
          else
            td
          if country.ems_count > 0
            td
              b= `${country.ems_count}件 `
              i= `（${Math.round(10000 * country.ems_count / analyze.overall.all_ems_count) / 100}%）`
          else
            td
          if country.other_count > 0
            td
              b= `${country.other_count}件 `
              i= `（${Math.round(10000 * country.other_count / analyze.overall.all_other_count) / 100}%）`
          else
            td
      tr
        td 合計
        td= `${analyze.overall.all_dhl_count}件`
        td= `${analyze.overall.all_ems_count}件`
        td= `${analyze.overall.all_other_count}件`
