extends layout

block content
  h3 Update status
  #countrylist
    table.table.table-dark.table-striped
      thead(style="position:sticky;top:0;background-color:#888888;")
        tr
          th(span="col") Country
          th(span="col") EMS
          th(span="col") ASP
          th(span="col") SAL Reg.
          th(span="col") SAL Unreg.
          th(span="col") SAL Parcel
          th(span="col") DHL
          th(span="col") Air Parcel
      tbody
        each c in countries
          tr
            td= c.country_name
            td
              select(class=`type${c.ems_available}` onchange=`Update(this,"${c.country_code}","ems")`)
                if c.ems_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.ems_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.ems_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.ems_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.airsp_available}` onchange=`Update(this,"${c.country_code}","airsp")`)
                if c.airsp_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.airsp_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.airsp_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.airsp_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.salspr_available}` onchange=`Update(this,"${c.country_code}","salspr")`)
                if c.salspr_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.salspr_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.salspr_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.salspr_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.salspu_available}` onchange=`Update(this,"${c.country_code}","salspu")`)
                if c.salspu_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.salspu_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.salspu_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.salspu_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.salp_available}` onchange=`Update(this,"${c.country_code}","salp")`)
                if c.salp_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.salp_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.salp_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.salp_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.dhl_available}` onchange=`Update(this,"${c.country_code}","dhl")`)
                if c.dhl_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.dhl_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.dhl_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.dhl_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
            td
              select(class=`type${c.airp_available}` onchange=`Update(this,"${c.country_code}","airp")`)
                if c.airp_available == 0
                  option(value="0", selected) Unavailable
                else
                  option(value="0") Unavailable
                if c.airp_available == 1
                  option(value="1", selected) Available
                else
                  option(value="1") Available
                if c.airp_available == 2
                  option(value="2", selected) Suspended
                else
                  option(value="2") Suspended
                if c.airp_available == 3
                  option(value="3", selected) Blocked
                else
                  option(value="3") Blocked
  - let text_str = '<table style="border-collapse: collapse;"><tbody>'
  - let colorer = 0
  each c in countries
    if colorer%20 == 0
      - text_str += '<tr><th style="border: 1px solid black;">Country</th><th style="border: 1px solid black;">EMS</th><th style="border: 1px solid black;">Air Small Packet</th><th style="border: 1px solid black;">SAL Registered</th><th style="border: 1px solid black;">SAL Unregistered</th><th style="border: 1px solid black;">SAL Parcel</th><th style="border: 1px solid black;">DHL</th><th style="border: 1px solid black;">Air Parcel</th></tr>'
      - colorer++
    - text_str += `<tr style="background-color:${colorer%2 == 0 ? "#FFFFFF" : "#EEEEEE"};"><td style="text-align: center; border: 1px solid black;">${c.country_name}</td><td style="text-align: center; border: 1px solid black;">${c.ems_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.airsp_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.salspr_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.salspu_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.salp_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.dhl_available == 1 ? "〇" : ""}</td><td style="text-align: center; border: 1px solid black;">${c.airp_available == 1 ? "〇" : ""}</td></tr>`
    - colorer++
  - text_str += "</tbody></table>"
  textarea= text_str

  script(src="/javascripts/cupdate.js")